<div class="container">
    <h1>Contacto</h1>

    <p>Esta es la pagina de contacto, puedes enviarnos cualquier duda</p>

    <!-- <input type="text" [(ngModel)]="nombre">
    <div *ngIf="nombre">
        Nombre pasado por padre: <strong>{{ nombre }}</strong>
    </div>

    <hr>
    <h2>Lista de hijo a padre</h2>
    <ul>
        <li *ngFor="let item of items">{{ item }}</li>
    </ul>
</div> -->

    <!-- <app-nombre-hijo [nombreHijo]="nombre" (newItemEvent)="addItem($event)"></app-nombre-hijo> -->
