<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ email }}</p>
</div>
<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque erat in blandit scelerisque. Vestibulum accumsan risus at erat semper, at laoreet massa mattis. Nunc blandit neque dolor, at luctus dolor dictum non. Donec non vehicula elit.
        Suspendisse quam neque, auctor ut suscipit quis, iaculis sed purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mi urna, malesuada a feugiat a, euismod laoreet libero. Nunc porttitor
        ante non tincidunt posuere. Donec maximus laoreet nisl. Praesent et velit a tellus ornare hendrerit eu vel diam. Morbi tincidunt hendrerit lectus a ultrices. Morbi faucibus pulvinar molestie. Donec condimentum scelerisque odio, sed dignissim eros
        efficitur vitae. Sed sem enim, hendrerit sed risus id, vehicula accumsan justo.</p>
</article>