.main {
    text-align: center;
    h1 {
        font-size: 3em;
        font-weight: bold;
    }
    hr {
        width: 70%;
        margin: auto;
    }
    p {
        color: rgb(146, 143, 143);
        font-weight: bold;
        font-size: 1.8em;
    }
    address {
        color: rgb(146, 143, 143);
        font-weight: bold;
    }
}